{% extends 'base.html' %}

{% block content %}

<div class="container p-4 p-md-5 my-4 rounded text-body-emphasis heading-part">
    <div class="row">
        <div class="col-lg-6 col-12 px-0">
            <h1 class="display-4 fst-italic text-dark">Search in our database</h1>
            <p class="lead my-3 text-dark">Type a drink name and click the button to get all the information about it!</p>
            <form class="d-flex" role="search" method="get" action="{% url 'myApp:search' %}">
                <input type="text" name="query" class="form-control me-2" placeholder="Search a drink..." aria-label="Search">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>

{% if query %}
    {% if drinks.error %}
    <div class="container p-4 p-md-5 my-4 rounded text-body-emphasis heading-part">
        <div class="row">
            <div class="col-lg-6 col-12 px-0">
                <h1 class="display-4 fst-italic">Not Found!</h1>
                <p class="lead my-3">Error: {{ drinks.error }}</p>
            </div>
        </div>
    </div>
    {% else %}
    {% for drink in drinks %}
    <div class="container px-4 pt-2 pb-4 my-2 main-part">
        <div class="row flex-lg-row-reverse align-items-center py-2">
            <!-- Image Section -->
            <div class="col-12 col-lg-6 mb-3 mb-lg-0 text-center">
                <img src="{{ drink.strDrinkThumb }}" class="d-block mx-auto img-fluid rounded shadow-sm" alt="{{ drink.strDrink }} pic" width="700" height="500" loading="lazy">
                {% if user.is_authenticated %}
                <a href="{% url 'myApp:add_favorite' drink.idDrink %}" class="mt-5 btn btn-success">Add To Favorite</a>
                {% else %}
                <h4 class="my-4"><a href="{% url 'users:login' %}">Login</a> or <a href="{% url 'users:signup' %}">Signup</a> for adding this Recipe to favorites.</h4>
                {% endif %}            </div>
            <!-- Text Section -->
            <div class="col-12 col-lg-6">
                <h5 class="display-5 lh-1 my-3 fw-bold text-dark">{{ drink.strDrink }}</h5>
                <h5 class="text-dark">Instructions</h5>
                <p class="text-dark">{{ drink.strInstructions }}</p>
                <h5 class="text-dark">Category:</h5>
                <p class="text-dark">{{ drink.strCategory }}</p>
                <h5 class="text-dark">Ingredients</h5>
                <ul class="list-group">
                    {% if drink.strIngredient1 != None %}
                    <li class="list-group-item text-bg-dark p-3">{{ drink.strMeasure1 }} {{ drink.strIngredient1 }}</li>
                    {% endif %}
                    {% if drink.strIngredient2 != None %}
                    <li class="list-group-item text-bg-dark p-3">{{ drink.strMeasure2 }} {{ drink.strIngredient2 }}</li>
                    {% endif %}
                    {% if drink.strIngredient3 != None %}
                    <li class="list-group-item text-bg-dark p-3">{{ drink.strMeasure3 }} {{ drink.strIngredient3 }}</li>
                    {% endif %}
                    {% if drink.strIngredient4 != None %}
                    <li class="list-group-item text-bg-dark p-3">{{ drink.strMeasure4 }} {{ drink.strIngredient4 }}</li>
                    {% endif %}
                    {% if drink.strIngredient5 != None %}
                    <li class="list-group-item text-bg-dark p-3">{{ drink.strMeasure5 }} {{ drink.strIngredient5 }}</li>
                    {% endif %}
                    {% if drink.strIngredient6 != None %}
                    <li class="list-group-item text-bg-dark p-3">{{ drink.strMeasure6 }} {{ drink.strIngredient6 }}</li>
                    {% endif %}
                    {% if drink.strIngredient7 != None %}
                    <li class="list-group-item text-bg-dark p-3">{{ drink.strMeasure7 }} {{ drink.strIngredient7 }}</li>
                    {% endif %}
                    {% if drink.strIngredient8 != None %}
                    <li class="list-group-item text-bg-dark p-3">{{ drink.strMeasure8 }} {{ drink.strIngredient8 }}</li>
                    {% endif %}
                    {% if drink.strIngredient9 != None %}
                    <li class="list-group-item text-bg-dark p-3">{{ drink.strMeasure9 }} {{ drink.strIngredient9 }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
{% endif %}

{% endblock content %}
